* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$back-color: rgba(50, 50, 100, 0.9);
$dark-color: #0d9db0;
$light-color: #05bbd4;
$white-color: #fff;
$red-color:#db4343;
$gray-color: rgb(191, 185, 185);
$font-sans-serif: sans-serif;
$font-CourierNew:'Courier New',Courier,monospace;
$box-shadow:0px 0px 10px rgba(0,0,0,0.1);
$border-radius:15px;
$img-opacity:0.7;